*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}

.row{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.column{
    flex: 25%;
    padding: 5px;
}

.column img{
    margin-top: 5px;
}

@media (max-width: 800px){
    .column{
        flex: 50%;
    }
}

@media (max-width: 600px){
    .column{
        flex: 100%;
    }
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto-encima{
    
    -webkit-text-stroke: 1px rgb(255, 238, 0);
    color: transparent; 
    background-color: #000;
    font: 100% sans-serif;
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    font-size: 14px; 
    font-weight: 100; 
    text-align: center; 
    background: #5c7dd1; 
    margin: 0 0 15px; 
    overflow: hidden; 
    padding: 15px; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 1px solid #ffffff;}
}


/*----------- CAJA ----------- */
.caja { 
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    font-size: 18px; 
    font-weight: 400; 
    text-align: center; 
    background: #889ccf; 
    margin: 0 0 25px; 
    overflow: hidden; 
    padding: 20px; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 2px solid #5878ca;}

    .whatsapp-btn {
        position:fixed;
        bottom: 30px;
        right: 30px;
        z-index: 999;
    }
    
    .whatsapp-btn img {
        width: 60px;
        height: 60px;
        border-radius: 70%;
        box-shadow: 3px 3px 6px #999;
    }
    